@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<WebApplication17.Models.Category>

@{
    ViewData["Title"] = "Danh sách thể loại";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a href="@Url.Action("Add")" class="btn btn-primary">Thêm mới thể loại</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Tên thể loại</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Name</td>
                <td>
                    <a href="@Url.Action("Display", new { id = category.Id })" class="btn btn-info">Xem</a>
                    <a href="@Url.Action("Update", new { id = category.Id })" class="btn btn-warning">Cập nhật</a>
                    <a href="@Url.Action("Delete", new { id = category.Id })" class="btn btn-danger">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
